<mat-toolbar class="app-toolbar">
  <div class="header-content">
    
    <div class="logo-section">
      <a routerLink="/" style="cursor: pointer;" class="logo-link">
        <img src="assets/images/indicar.jpg" alt="Logo IndiCar Veículos" class="main-logo">
      </a>
         </div>

    <nav class="nav-links">
      <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ESTOQUE</a>
      <a mat-button routerLink="/detalhes-veiculos" routerLinkActive="active" disabled>DETALHES</a>
      <a mat-button routerLink="/contato" routerLinkActive="active">CONTATO</a>
    </nav>

    <div class="user-actions">
      <button mat-icon-button class="action-icon-button" aria-label="Localização">
        <mat-icon>location_on</mat-icon>
      </button>
      
      <button mat-icon-button class="action-icon-button" aria-label="Contato Telefone">
        <mat-icon>call</mat-icon> </button>

      <button mat-icon-button class="action-icon-button" aria-label="Contato WhatsApp">
        <mat-icon>chat</mat-icon> </button>
      
      <div class="menu-btn-wrap">
          <button mat-icon-button class="menu-button" aria-label="Menu" (click)="sidenavOpen = true">
            <mat-icon>menu</mat-icon>
          </button>
      </div>

    </div>
  </div>
</mat-toolbar>

    <!-- Navigation Menu -->
<!--    <nav class="nav-links">-->
<!--      <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
<!--        Home-->
<!--      </a>-->
<!--      <a mat-button routerLink="/" fragment="estoque"(click)="verEstoque()" class="btn-estoque">-->
<!--        Estoque-->
<!--      </a>-->
<!--      <a mat-button routerLink="/" fragment="contato">-->
<!--        Contato-->
<!--      </a>-->
<!--      <a mat-button *ngIf="isLoggedIn" routerLink="/admin/dashboard" routerLinkActive="active">-->
<!--        Dashboard-->
<!--      </a>-->
<!--    </nav>-->

<!--    &lt;!&ndash; User Actions &ndash;&gt;-->
<!--    <div class="user-actions">-->
<!--      <button mat-flat-button color="accent" *ngIf="!isLoggedIn" routerLink="/login">-->
<!--        <mat-icon>person</mat-icon>-->
<!--        Área do Cliente-->
<!--      </button>-->

<!--      <button mat-button *ngIf="isLoggedIn" [matMenuTriggerFor]="menu">-->
<!--        <mat-icon>account_circle</mat-icon>-->
<!--        Minha Conta-->
<!--      </button>-->

<!--      <mat-menu #menu="matMenu">-->
<!--        <button mat-menu-item routerLink="/admin/dashboard">-->
<!--          <mat-icon>dashboard</mat-icon>-->
<!--          Dashboard-->
<!--        </button>-->
<!--        <button mat-menu-item routerLink="/admin/veiculo/novo">-->
<!--          <mat-icon>add</mat-icon>-->
<!--          Novo Veículo-->
<!--        </button>-->
<!--        <mat-divider></mat-divider>-->
<!--        <button mat-menu-item (click)="logout()">-->
<!--          <mat-icon>logout</mat-icon>-->
<!--          Sair-->
<!--        </button>-->
<!--      </mat-menu>-->
<!--    </div>
  </div>
</mat-toolbar>-->

